<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbora</title>
    <link rel="stylesheet" type="text/css" href="./static/style.css">
</head>

<body>
    <h1>Barbora, kada galėtum užsukti?</h1>
    <div>
        <label class="switch">
            <input type="checkbox" onclick="toggleAlarm()"  class="myButton">
            <span class="slider round"></span>
        </label>
    </div>
    <br>
    <div id="barbora_count">Barbora: Tuoj pažiūrėsiu</div>
</body>
<script src="static/script.js"></script> 
</html>